In [4]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy_utils import database_exists, create_database
from sqlalchemy import Column, Integer, String, Date, VARCHAR, FLOAT, ForeignKey, TEXT

db_string = "postgresql://postgres:postgres@localhost:5433/Lab12"

engine = create_engine(db_string)

if not database_exists(engine.url):
    create_database(engine.url)

Base = declarative_base()

In [5]:
class User(Base):
    __tablename__ = 'users'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    email = Column(VARCHAR(50))

    def __repr__(self):
        return "<authors(id='{0}', email={1})>".format(
            self.id, self.email)
            
User.__table__.create(engine)

In [6]:
class Host(Base):
    __tablename__ = 'hosts'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    user_id = Column(Integer, ForeignKey('users.id'))

    def __repr__(self):
        return "<hosts(id='{0}', user_id={1})>".format(
            self.id, self.user_id)
            
Host.__table__.create(engine)

In [7]:
class Country(Base):
    __tablename__ = 'countries'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    country_code = Column(VARCHAR)
    name = Column(VARCHAR)

    def __repr__(self):
        return "<Countries(id='{0},country_code={1},name='{2})>".format(self.id, self.country_code,self.address,self.name)

Country.__table__.create(engine)

In [8]:
class City(Base):
    __tablename__ = 'cities'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    country_id = Column(Integer, ForeignKey('countries.id'))
    name = Column(VARCHAR)

    def __repr__(self):
        return "<Cities(id='{0},name='{1},country_id={2})>".format(self.id, self.name,self.country_id)

City.__table__.create(engine)

In [9]:
class Place(Base):
    __tablename__ = 'places'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    host_id = Column(Integer,ForeignKey('hosts.id'))
    address = Column(VARCHAR)
    city_id = Column(Integer,ForeignKey('cities.id'))

    def __repr__(self):
        return "<Places(id='{0},host_id={1},address='{2},city_id={3})>".format(self.id, self.host_id,self.address,self.city_id)

Place.__table__.create(engine)

In [10]:
class Booking(Base):
    __tablename__ = 'bookings'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer,primary_key=True)
    user_id = Column(Integer, ForeignKey('users.id'))
    place_id = Column(Integer,ForeignKey('places.id'))
    start_date = Column(Date)
    end_date = Column(Date)
    price_per_night = Column(FLOAT)
    num_nights = Column(Integer)

    def __repr__(self):
        return "<hosts(id='{0}', user_id={1}, place_id={2}, start_date={3}, end_date={4}, price_per_night={5}, num_nights={6})>".format(
            self.id, self.user_id, self.place_id, self.start_date, self.end_date, self.price_per_night, self.num_nights)
    
Booking.__table__.create(engine)

In [11]:
class Review(Base):
    __tablename__ = 'reviews'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    booking_id = Column(Integer,ForeignKey('bookings.id'))
    rating = Column(Integer)
    review_body = Column(TEXT)

    def __repr__(self):
        return "<Reviews(id='{0},booking_id={1},rating='{2},review_body={3})>".format(self.id, self.booking_id,self.rating,self.rewiew_body)

Review.__table__.create(engine)

In [35]:
import pandas as pd
df=pd.read_sql("SELECT table_name FROM information_schema.tables WHERE table_name='countries' or table_name='cities' or table_name='places' or table_name='hosts' or table_name='users' or table_name='reviews' or table_name='bookings'",con=engine)
df

  table_name
0  countries
1      users
2      hosts
3     cities
4     places
5   bookings
6    reviews

In [37]:
df=pd.read_sql("SELECT * FROM countries",con=engine)
df

Empty DataFrame
Columns: [id, country_code, name]
Index: []

In [38]:
df=pd.read_sql("SELECT * FROM cities",con=engine)
df

Empty DataFrame
Columns: [id, country_id, name]
Index: []

In [39]:
df=pd.read_sql("SELECT * FROM places",con=engine)
df

Empty DataFrame
Columns: [id, host_id, address, city_id]
Index: []

In [40]:
df=pd.read_sql("SELECT * FROM hosts",con=engine)
df

Empty DataFrame
Columns: [id, user_id]
Index: []

In [41]:
df=pd.read_sql("SELECT * FROM users",con=engine)
df

Empty DataFrame
Columns: [id, email]
Index: []

In [42]:
df=pd.read_sql("SELECT * FROM reviews",con=engine)
df

Empty DataFrame
Columns: [id, booking_id, rating, review_body]
Index: []

In [43]:
df=pd.read_sql("SELECT * FROM bookings",con=engine)
df

Empty DataFrame
Columns: [id, user_id, place_id, start_date, end_date, price_per_night, num_nights]
Index: []